<%= simple_form_for @invoice do |f| %>
    <%= f.input :number, label: 'Číslo' %>

    <%= f.nested_fields_for :invoice_items do |ff| %>
        <%= ff.input :product_variant_id, as: :grouped_select, collection: Product.all, group_method: :product_variants, label_method: :code, prompt: 'Vyberte variantu', label: 'Produkt' %>
        <%= ff.input :quantity, input_html: {min: 1}, label: 'Počet' %>
        <%= ff.remove_nested_fields_link do %>
            <i class="fa fa-trash"></i>
        <% end %>
    <% end %>
    <%= f.add_nested_fields_link :invoice_items, 'Přidat položku', class: 'button is-small' %>

    <div class="m-20">
      <%= f.button :submit, 'Uložit', class: 'button is-success' %>
    </div>
<% end %>