<h1 class="title">Doklady <%= link_to 'Vytvořit', new_invoice_path, class: 'button is-success' %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Číslo</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if @invoices.each do |invoice| %>
      <tr>
        <td><%= link_to invoice.number, invoice_path(invoice) %></td>
        <td class="last-col">
          <%= link_to invoice_path(invoice), method: :delete, data: {confirm: 'Opravdu smazat?'}, class: 'button is-danger is-small' do %>
              <span class="icon is-small">
                <i class="fa fa-trash"></i>
              </span>
          <% end %>
          <%= link_to edit_invoice_path(invoice), class: 'button is-primary is-small' do %>
              <span class="icon is-small">
                <i class="fa fa-pencil"></i>
              </span>
          <% end %>
        </td>
      </tr>
  <% end.empty? %>
      <tr>
        <td>Žádné doklady</td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= paginate @invoices %>