<h1 class="title">Produkty <%= link_to 'Vytvořit', new_product_path, class: 'button is-success' %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Název</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td class="last-col">
          <%= link_to product_path(product), method: :delete, data: {confirm: 'Opravdu smazat?'}, class: 'button is-danger is-small' do %>
              <span class="icon is-small">
                <i class="fa fa-trash"></i>
              </span>
          <% end %>
          <%= link_to edit_product_path(product), class: 'button is-primary is-small' do %>
              <span class="icon is-small">
                <i class="fa fa-pencil"></i>
              </span>
          <% end %>
        </td>
      </tr>
  <% end.empty? %>
      <tr>
        <td>Žádné produkty</td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @products %>